<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>首页</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <style type="text/css">
        .title{font-weight: bold}
    </style>
</head>
<body>
  <input type="hidden" id="wsURL" th:value="${wsURL}">
  <input type="hidden" id="loginToken" th:value="${loginToken}">

  <div>欢迎您！<i th:text="${username}" id="username"></i>
      <input type="button" id="logoutButton" value="退 出" style="margin-left: 15px">
  </div>
  <table width="100%" height="100%" border="1px" cellspacing="0" style="margin-top: 10px;">
      <tr>
          <td width="25%" align="center" style="vertical-align: top">
              <div class="title">聊天室列表</div>
              <div style="width:100%;" id="roomListDiv">
              </div>
          </td>
          <td width="50%" align="center" style="vertical-align: top">
              <div class="title" id="chatTitle">欢迎光临</div>
              <div>
                  <table width="100%">
                      <tr><td>
                          <textarea style="height:350px;width:100%;resize:none;overflow-y:hidden;" name="messagesWindow" id="messagesWindow" readonly></textarea>
                      </td></tr>
                  </table>
              </div>
              <div>
                  <table width="100%">
                      <tr>
                          <td width="80%">
                              <textarea rows="6" style="width: 100%;resize:none;overflow-y:hidden;" id="message"></textarea>
                          </td>
                          <td align="center">
                              <input type="button" id="sendButton" value="发 送">
                          </td>
                      </tr>
                  </table>
              </div>
          </td>
          <td width="25%" align="center" style="vertical-align: top">
              <div class="title">在线用户列表</div>
              <div style="width:100%;" id="onlineDiv">
              </div>
          </td>
      </tr>
  </table>

  <script type="text/javascript">
      var websocket;
      var currentRoomName;
      var DEFAULT_TITLE = "欢迎光临，请选择一个聊天室进行畅聊吧^_^";

      $(function () {
          init();
          initWebSocket();
      });

      /**
       * 初始化配置
       */
      function init() {
          $("#chatTitle").html(DEFAULT_TITLE);
          // 禁用网页事件
          forbidWebEvent();
      }

      /**
       * 禁用网页事件
       */
      function forbidWebEvent() {
          $(document).off().on("keydown", function (event) {
              var key = event.keyCode;
              // console.info("keyCode:" + key);
              //便于说明，下面代码使用多个if，应用时可使用"||"合并
              if (key == 116) {
                  //禁用F5刷新
                  return false;
              } else if (key == 27) {
                  //禁用esc键
                  return false;
                  // } else if (key == 8) {
                  //     //禁用Backspace退格键
                  //     return false;
              } else if(event.ctrlKey && key==82){
                  //禁用ctrl+R刷新
                  return false;
              }
          });
          // $(document).on("contextmenu", function (e) {
          //     console.info("contextmenu: " + e);
          //     //...此处定义自己的右键菜单
          //     return false;
          // });
      }

      /**
       * 初始化WebSocket
       */
      function initWebSocket() {
          if (window.WebSocket) {
              // 连接服务端
              connect();
          } else {
              alert("您的浏览器不支持WebSocket协议^_^");
          }
      }

      /**
       * 连接服务端
       */
      function connect() {
          var wsURL = $("#wsURL").val();
          console.info("开始连接服务端：" + wsURL);
          websocket = new WebSocket(wsURL);

          /**
           * 连接已建立
           */
          websocket.onopen = function (ev) {
              showMessage("连接已建立");

              // 发送登录请求
              login();
          }

          /**
           * 接收到消息
           */
          websocket.onmessage = function (ev) {
              if (!ev) {
                  return;
              }
              // 消息接收处理
              onmessageHandler(ev);
          }

          /**
           * 连接已关闭
           */
          websocket.onclose = function (ev) {
              showMessage("连接已关闭");

              // 重新连接服务端
              reconnect();
          }

          /**
           * 发生错误
           */
          websocket.onerror = function (ev) {
              showMessage("连接错误" + ev);

              // 重新连接服务端
              reconnect();
          }
      }

      /**
       * 重新连接服务端
       */
      function reconnect() {
          showMessage("等待3秒后重新连接服务端");
          setTimeout("connect()", 3000);
      }

      /**
       * 登录
       */
      function login() {
          var jsonMsg = {
              type: 0,
              username: $("#username").html(),
              loginToken: $("#loginToken").val()
          };
          var jsonString = JSON.stringify(jsonMsg);
          console.info("用户登录信息：" + JSON.stringify(jsonString));
          websocket.send(jsonString);
      }

      /**
       * 消息接收处理器
       */
      function onmessageHandler(ev) {
          console.info("收到消息：" + ev.data);
          var jsonMessage = JSON.parse(ev.data);

          switch (jsonMessage.type) {
              case 0: // 登录响应
                  showMessage("登录成功");
                  break;
              case 1: // 收到消息
                  // 显示自己发的消息
                  if (jsonMessage.sender == $("#username").html()) {
                      var msg = "我:\n  " + jsonMessage.message;
                      showMessage(msg);
                      break;
                  }

                  // 显示他人的消息
                  var msg = jsonMessage.sender + ":\n  " + jsonMessage.message;
                  showMessage(msg);
                  break;
              case 4: // 显示聊天室列表
                  var newHtml = "";
                  for (var i in jsonMessage.roomList) {
                      var room = jsonMessage.roomList[i];
                      newHtml += "<div style='text-align: left;margin-left: 20px;'>";
                      newHtml += "<span><image src='/images/wangwu.png' width='25px'></span>";
                      newHtml += "<span style='margin-left: 10px' id='" + room.name + "'>" + room.name + "(" + room.onlineNum + ")";
                      newHtml += "</span>";
                      newHtml += "<input type='button' value='加入' onclick='joinRoom(\"" + room.name + "\")' style='margin-left: 50px' id='join" + room.name + "'>";
                      newHtml += "<input type='button' value='退出' onclick='exitRoom(\"" + room.name + "\")' style='margin-left: 10px'>";
                      newHtml += "</div>";
                  }
                  $("#roomListDiv").html(newHtml);
                  if (currentRoomName) {
                      $("#join" + currentRoomName).hide();
                  }
                  break;
              case 6: // 加入聊天室响应
                  currentRoomName = jsonMessage.roomName;
                  $("#chatTitle").html("聊天室：" + currentRoomName);
                  $("#join" + currentRoomName).hide();
                  showMessage("成功加入聊天室：" + currentRoomName);
                  break;
              case 7: // 退出聊天室响应
                  $("#chatTitle").html(DEFAULT_TITLE);
                  break;
              case 8: // 在线用户列表
                  var onlineHtml = "";
                  for (var i in jsonMessage.userList) {
                      var user = jsonMessage.userList[i];
                      onlineHtml += "<div style='text-align: left;margin-left: 20px;'>";
                      onlineHtml += "<span><image src='/images/lisi.png' width='25px'></span>";
                      onlineHtml += "<span style='margin-left: 10px'>" + user.username + "</span>";
                      onlineHtml += "</div>";
                  }
                  // console.info($("#" + jsonMessage.roomName).html());
                  // $("#" + jsonMessage.roomName).html(jsonMessage.roomName + "(" + jsonMessage.userList.length + ")");
                  $("#onlineDiv").html(onlineHtml);
                  break;
              default:
                  break;
          }
      }

      /**
       * 加入聊天室
       */
      function joinRoom(roomName) {
          if (currentRoomName) {
              alert("请先退出当前聊天室：" + currentRoomName);
              return;
          }

          var jsonMessage = {
              type: 6,
              roomName: roomName
          };
          var jsonString = JSON.stringify(jsonMessage);
          websocket.send(jsonString);

          $("#messagesWindow").html("正在加入聊天室：" + roomName + "\n");
          $("#onlineDiv").html("");
      }

      /**
       * 退出聊天室
       */
      function exitRoom(roomName) {
          if (roomName != currentRoomName) {
              alert("您当前不在该聊天室");
              return;
          }

          var jsonMessage = {
              type: 7,
              roomName: currentRoomName
          };
          var jsonString = JSON.stringify(jsonMessage);
          websocket.send(jsonString);

          $("#join" + currentRoomName).show();
          $("#onlineDiv").html("");
          currentRoomName = null;
          showMessage("已退出聊天室：" + roomName + "\n");
      }

      /**
       * 追加显示消息到聊天窗口
       */
      function showMessage(msg) {
          var messagesWindow = $("#messagesWindow");
          $("#messagesWindow").append(msg + " \n").scrollTop(messagesWindow[0].scrollHeight - messagesWindow.height());
      }

      /**
       * 发送消息
       */
      $("#sendButton").click(function () {
          if (!$("#message").val()) {
              return;
          }

          // 检查聊天室名称
          if (!currentRoomName) {
              alert("请先加入一个聊天室，然后再愉快的聊天吧");
              console.info("获取不到聊天室信息：" + currentRoomName);
              return;
          }

          /* 发送消息 */
          var jsonMessage = {
              type: 1,
              roomName: currentRoomName,
              message: $("#message").val()
          };
          var jsonString = JSON.stringify(jsonMessage);
          websocket.send(jsonString);
          // websocket.send($("#message").val()); // 用于测试连接异常后重连

          // 清空输入框
          $("#message").val("");
      });

      /**
       * 退出
       */
      $("#logoutButton").click(function() {
          console.info("ready to logout...");
          window.location = "/logout";
      });
  </script>
</body>
</html>